.country{
    display: flex;
    align-items: center;
    background-color: lightblue;
    border: 2px solid lightpink;
    border-radius: 10px;
    padding: 20px;
}
.country-right{
    width: 35%;
}
.country-left{
    text-align: left;
    width: 65%;
}
.flag{
    width: 100%;
}
button.show-flag-btn {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 700;
}